language: generic
sudo: required
services:
  - docker

env:
  global:
    - LATEST=3.4
  matrix:
    - ENVS=ALPINE_VERSION=3.6,MONGODB_VERSION=3.4
install: true

before_install:
  - sudo apt-get remove docker docker-engine docker.io
  - sudo apt-get install apt-transport-https ca-certificates curl software-properties-common
  - sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get install docker-ce
  - sudo service docker restart

before_script:
  - docker --version
  # setup env file
  - oifs=${IFS}
  - IFS=','
  - for e in ${ENVS}; do echo "export $e" >> env.sh; done
  - IFS=${oifs}

script:
  - source env.sh
  - export MONGODB_VERSION_ASSERT="<$(echo ${MONGODB_VERSION}+0.1 | bc | tr -d ' ')"
  - docker build --build-arg="ALPINE_VERSION=${ALPINE_VERSION}" --build-arg="MONGODB_VERSION_ASSERT=${MONGODB_VERSION_ASSERT}" -t johannweging/mongodb:${MONGODB_VERSION} ./

before_deploy:
  - docker login --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}

deploy:
  provider: script
  script: ./deploy.sh
  on:
    all_branches: true
