language: generic
sudo: required
services:
  - docker

env:
  global:
    - LATEST=3.4
  matrix:
    - ENVS=ALPINE_VERSION=3.6,MONGODB_VERSION=3.4
install: true

before_script:
  - docker --version
  # setup env file
  - oifs=${IFS}
  - IFS=','
  - for e in ${ENVS}; do echo "export $e" >> env.sh; done
  - IFS=${oifs}

script:
  - source env.sh
  - export MONGODB_VERSION_ASSERTION=<"$(echo -n ${MONGODB_VERSION}+0.1 | bc | tr -d ' \n')"
  - docker build --build-arg="ALPINE_VERSION=${ALPINE_VERSION}" --build-arg="MONGODB_VERSION_ASSERTION=${MONGODB_VERSION_ASSERTION} -t johannweging/mongodb:${MONGODB_VERSION} ./

before_deploy:
  - docker login --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}

deploy:
  provider: script
  script: ./deploy.sh
  on:
    all_branches: true
